body {
    background: #ECBDC4;
    color: #F9D0DE;
    padding: 10px;
    font-family: Garamond;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: #E4A0B7;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: linear-gradient(-90deg,  #ffffff, #fce9ee, #ffffff); /* Added 3rd color for seamless loop */
    background-size: 200% auto; /* 1. Must be larger than container */
    display: flex;
    margin-top: 20px;
    animation: text-shine 3s linear infinite;
}

@keyframes text-shine {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; } /* 2. Move the position */
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: #F8B0C8;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border-width: 5px;
    border-style: inset;
    border-color: #F8B0C8;
    border-radius: 10px 30px;
    padding: 10px;
}

h2, h3 {
    margin: 0px;
}

/* Portfolio styles */
.content h1 {
  color: #F9D0DE;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
  border-width: 5px;
  border-style: ridge;
  border-color: #F8B0C8;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #F9D0DE;
}

/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}
.overlay-gif {
    position: fixed;   /* Locks it to the browser window */
    top: 0;
    left: 0;
    width: 100vw;      /* Full screen width */
    height: 100vh;     /* Full screen height */
    object-fit: cover; /* Keeps it from stretching weirdly */
    z-index: -1;     /* Keeps it above every other element */
    pointer-events: none; /* ALLOWS you to click buttons behind the gif */
    opacity: 0.07;      /* Makes it look like a subtle light effect */
}

.overlay-giff {
    position: fixed;   /* Locks it to the browser window */
    top: 0;
    left: 0;
    width: 100vw;      /* Full screen width */
    height: 100vh;     /* Full screen height */
    object-fit: cover; /* Keeps it from stretching weirdly */
    z-index: 9999;     /* Keeps it above every other element */
    pointer-events: none; /* ALLOWS you to click buttons behind the gif */
    opacity: 0.05;      /* Makes it look like a subtle light effect */
}
