body {
  margin: 0px;
}

canvas {
  background-image: url("https://i7.glitter-graphics.org/pub/1463/1463907mplydkhy3d.gif");
  background-size: cover; /* Scales the image to cover the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  margin: 20px;
}

img {
  display: none;
}
